body {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    background-image: url(image/2.jpg) ;
    background-size: cover;
    color: #fafffd;
}
*{
    font-family: '华文楷体';
    font-size: 20px;
}
h1{
    font-size: 1.9rem;
    color: #000;
}
h2 {
    font-size: 1.3rem;
    padding-left: 10px;
    line-height: 45px;
    background-color: rgb(83, 198, 255);
    box-shadow: 10px 10px 5px #888;
}

.flex {
    display: flex;
}

table{
    margin: 0 auto;
    background-color: #fafffd;
    color: #000;
    border-radius: 8px;
}

.center {
    text-align: center;
}

.heimu {
    background-color: #000;
    color: black;
}

.heimu:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: blue;
}
#menu ul{
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}
#menu ul li{
    line-height: 10px;
    flex-flow: row;
    padding:0 8px ;
}
#menu ul li:nth-last-child(2){
    line-height: 10px;
    flex-flow: row;
    padding:0 8px ;
    border-right: solid #000 2px;
    border-left: solid #000 2px;
}